<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Time and Date</title>
    </head>
    <body>
        <h3>Current Time And Date:</h3>
        @{
            DateTime currentDate = DateTime.Now;
            string Date = String.Format("{0:MMM d, yyyy}", currentDate);
            string Time = String.Format("{0:hh:mm tt}", currentDate);
        }
        <p>@Date</p>
        <p>@Time</p>
        

    </body>
</html>